@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.styleGeral{
    border: 3px solid;
    margin-left: auto;
    margin-right: auto;
    width: 970px;
    margin-top: 15px;
    border-radius: 4px; 
    font-family: 'Permanent Marker', cursive;
    position: relative;
}
#stylenav{
    border-color:seagreen;
    height: 150px; 
    background-color: #40364F;
}
#styleheader{
    border-color: seagreen; 
    height: 150px; 
    background-color: #554979;
}

#stylediv{
    border-color: seagreen;
    height: 500px; 
    background-color: #6795B6;
    }

#stylefooter{
    border-color: seagreen;
    height: 150px; 
    background-color: #8B95B0;
}
